// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
// BASE VARIABLES
$blue-black-color:#2F2E33;
$cool-gray-color:#D5D6D2;
$white-color: #FFFFFF;
$cobalt-color: #3A5199;

